* {
   list-style: none;
   text-decoration: none;
}

.table {
   display: grid;
   grid-template-columns: 3fr 20fr 9fr 12fr 4fr;
   row-gap: 10px;
}

.colorRed {
   color: red;
   font-weight: bold;
}

.pageNationPart {
   text-align: center;
}

.btn {
   display: grid;
   grid-template-columns: 60px 60px;
   justify-content: center;
}

.hidden {
   display: none;
}

li {
   display: inline-block;
}

.sellected {
   background-color: silver;
   color: red;
   font-weight: bold;
   text-decoration: underline;
}